<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title> Drawing Board </title>
		<meta charset="UTF-8" />
    		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    		<link rel="stylesheet" href="./jass.css">
			<link rel="stylesheet" href="../jass.css">
	</head>
	<body>
		<header> 
            <nav>
                <ul class="nav-links">
                    <li><a href="/"><b>Home</b></a></li>
					<li><a href="/dashboard"><b>Dashboard</b></a></li>
					<li><a href="/new-post"><b>New Post</b></a></li>
					<li><a href="/search"><b>Search</b></a></li>
					{{#if logged_in}}
					<li><a id="logout"><b>Logout</b></a></li>
					{{else}}
					<li><a href="/login"><b>Login</b></a></li>
					{{/if}}
				</ul>
            </nav>
            <div class="text-center"><h1>Drawing Board</h1></div>
        </header>
		<main>
			{{{body}}}
		</main>
		<script src="/script.js"></script>
	</body>
</html>

<script src="/script.js"></script>