<div class="flex-row flex-no-wrap justify-center gap-80">
    <aside class="col-4 flex-column align-center p-5">
        <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/16620/production/_91408619_55df76d5-2245-41c1-8031-07a4da3f313f.jpg" alt="Profile picture" class="profile-pic">
        <div class="mt-5 profile-attributes">Username</div>
        <div class="mt-5 profile-attributes">Email</div>
        <!-- add total likes on users posts -->
        <div class="mt-5 profile-attributes">Likes: ...</div>
    </aside>
    <section class="col-7 p-5 flex-column flex-no-wrap align-center gap-15" id="user-posts">
        <!-- iterate through previous projects -->
        <div class="user-post p-3">
            <h3>Project Name</h3>
            <p>Descrpition...</p>
        </div>
        <div class="user-post p-3">
            <h3>Project Name</h3>
            <p>Descrpition...</p>
        </div>
    </section>
</div>