<aside id="search" class="p-5">
    <div>Search Bar</div>
    <div>
        <h2>Tags</h2>
        <ul>
            {{!-- Iterates through tags --}}
            <li>tag 1</li>
        </ul>
    </div>
</aside>
<section id="post-info" class="p-5">
    <div class="post-description" >
        <div class="flex-row flex-no-wrap">
            {{!-- insert specific post title --}}
            <div class="col-4">Post-Title</div>
            {{!-- insert specific post date --}}
            <div class="col-4">Date</div>
            {{!-- insert specific post tag --}}
            <div class="col-4">Tag</div>
        </div>
        <img src="" alt="Invention Image"class="home-post-image">
    </div>
    <div class="post-comments">
        <form id="add-comment">
            <select id="add-comment-tag">
                {{!-- Iterates through tags --}}
                <option value="tag 1">tag 1</option>
            </select>
            <input type="text" placeholder="Write a comment..." id="add-comment-text">
            <input type="button" value="Post" id="add-comment-submit" class="btn">
        </form>
    </div>
</section>
<aside id="updates" class="p-5">
    <div>
        <h2>Updates</h2>
        <div class="flex-column flex-no-wrap">
            {{!-- iterate through updates --}}
            <div>
                {{!-- insert date of update --}}
                <p>Date</p>
                {{!-- insert text describing update --}}
                <p>Content</p>
            </div>     
        </div>
    </div>
</aside>