<div class="flex-row flex-no-wrap justify-center">
    <div id="login-container" class="p-5">
        <form>
        <label>Username:</label>
        <input type="email" name="email" id="email" placeholder="abc@gmail.com">
        <br>

        <label>Password:</label>
        <input type="text" name="password" id="password" placeholder="!abcd123">
        <br>
        <div class="flex-row flex-no-wrap justify-center mt-5">
            <div class="col-3">
                <input type="button" id="login-submit" value="login">
            </div>
        </div>
    </form>
    </div>
</div>