<div class="flex-row flex-no-wrap justify-center">
    <div class="primary-container p-5">
        <form>
            <label>Project Name</label>
            <input type="text" id="new-title" class="ml-5">
            <select id="new-tag">
            <!-- iterate existing tags-->
                {{#each tags as |t|}}
                <option value="{{t.id}}">{{t.name}}</option>
                {{/each}}
            </select><br>

            <label>Invention Photo</label>
            <input type="file" id="new-image" accept="image/png, image/jpeg" class="ml-5"><br>
            <div class="my-auto">
                <label>Description</label>
                <textarea placeholder="Write a description..." id="new-desc" class="ml-5 mt-2"></textarea>
            </div>
            <div class="flex-row flex-no-wrap justify-center">
                <input type="button" id="submit-new-post" value="Post">
            </div>
        </form>
    </div>
</div>