<div class="primary-container p-5">
    <form class="flex-row flex-no-wrap justify-center gap-15 mb-5">
        <select id="search-tag">
            <!-- iterate existing tags-->
            <option>Tag 1</option>
            <option>Tag 2</option>
            <option>Tag 3</option>
        </select>
        <input type="text" id="search-key">
        <input type="button" id="search-button" value="Search">
    </form>
    <div class="flex-column flex-no-wrap align-center">
        <!-- iterate search items -->
        <div class="col-8">
            <h3 class="ml-5">Result 1</h3>
            <p>Contents...</p>
        </div>
        <div class="col-8">
            <h3 class="ml-5">Result 2</h3>
            <p>Contents...</p>
        </div>
        <div class="col-8">
            <h3 class="ml-5">Result 3</h3>
            <p>Contents...</p>
        </div>
    </div>
</div>