<div class="flex-row flex-no-wrap justify-center">
    <div id="create-account-container" class="p-5 primary-container">
        <h2 class="text-center">Create Account</h2>
        <form>
        <label>New Username:</label>
        <input type="email" name="email" id="email" placeholder="abc@gmail.com">
        <br>

        <label> New Password:</label>
        <input type="text" name="password" id="password" placeholder="!abcd123">
        <br>

        <label> Confirm Password:</label>
        <input type="text" name="password" id="password" placeholder="!abcd123">
        <br>
        <div class="flex-row flex-no-wrap justify-center mt-5">
            <div>
                <input type="button" id="create-account-submit" value="Create Account">
            </div>
        </div>
    </form>
    </div>
</div>